$white: #ffffff;
$black: #000000;

$bg-color: #eeeeee;

$border-color-light: #e2e2e2;
$border-color-dark: #4d4d4d;

$font-color-base: #4d4d4d;
$font-color-hover: #a0a0a0;
$font-color-title: $black;
$font-color-date: #a81817;

$font-family-nav: 'nyt-franklin', arial, helvetica, sans-serif;
$font-family-footer: 'nyt-franklin', arial, helvetica, sans-serif;
$font-family-base: georgia, 'times new roman', times, serif;
