@import './../../sass/variables';

.main-container {
  min-height: calc(100vh - 200px);
  background-color: $bg-color;
}

.loader-img {
  display: block;
  position: absolute;
  height: 80px;
  width: 80px;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}
